*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}
#container_popup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

@keyframes animacaoPopup {
    0%{box-shadow: 0px 0px 0px 0px #3f37c9;}
    100%{box-shadow: 0px 5px 30px 1px #3f37c9;}
}

#popup{

    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    border-radius: 2rem;
    box-shadow: 0px 5px 30px 1px #3f37c9;
    width: 450px;
    animation-iteration-count: 1;
    animation-name: animacaoPopup;
    animation-duration: 1s;
    min-height: 600px;
    max-height: max-content;
    padding: 25px;
    gap: 30px;
    background-color: rgb(247, 245, 248);

}
#popup > div{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
#popup > div > img{
    width: 20px;
    cursor: pointer;

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    gap: 1.2rem;


}
form > div{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}
form > div > input{
    height: 40px;
    border-radius: 5px;
    font-size: 1.1rem;
    border: solid 1.5px #480ca8;
    padding: 0rem 1.1rem;
    &:focus{
        outline: none;

    }
   
    &:focus-visible{
        border: solid 1.5px #4361ee;
        box-shadow: 0 0 10px rgb(164, 166, 255);
    }
   
}
form > div > label{
    font-size: 18px;
    
   
}
#button_cadastro{
    width: 150px;
    height: 60px;
    background-color: #480ca8;
    border: 0;
    border-radius: 15px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:hover{
        background-color: #3b34c5;
    }
    
}
    .button_on{
        &::before{
            content: '';
            position: absolute;
            
            opacity: 0.8;
            

            border-radius: 100%;
            background-color: rgb(42, 13, 56);
            
            animation-name: circle;
            animation-iteration-count: 1;
            animation-duration: 0.5s;
        }
    }

@keyframes circle {
    0%{width: 0px; height: 0px; transform: scale(0); opacity: 1;}    
    50%{width: 1px; height: 1px; transform: scale(300); opacity: 0.3;}    
    100%{width: 1px; height: 1px; transform: scale(300); opacity: 0;}    
}

#cadastro{
    width: 130px;
    height: 50px;
    font-size: 1.2rem;
    background-color: #4361ee;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    &:hover{
        background-color: #2246e6;
    }
}